<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" routerLink="/">
        <img class="logo" src="./assets/images/logo.svg" width="200" />
      </a>

      <a
        role="button"
        class="navbar-burger"
        aria-label="menu"
        aria-expanded="false"
        data-target="navbarBasicExample"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-end">
        <a routerLink="/ranking" class="navbar-item">Ranking</a>
        <a routerLink="/about-us" class="navbar-item">About us</a>
        <div class="navbar-item">
          <a routerLink="/create-bot" class="button is-warning is-small"
            ><span class="is-size-6">Add new bot</span></a
          >
        </div>
      </div>
    </div>
  </div>
</nav>
