@import '../../styles/variables/all';
@import '../../../node_modules/bulma/sass/utilities/mixins';

.card {
  position: relative;
  box-shadow: inset 0px 4px 4px rgba($dark, 0.2);
  filter: drop-shadow(0px 4px 4px rgba($dark, 0.25));
  flex: none;
  flex-grow: 0;
  background: linear-gradient(138.23deg, $dark -11.89%, $dark 49.23%, rgba(38, 38, 38, 0.5) 49.25%, rgba(38, 38, 38, 0.25) 109.23%);
  border: 2px solid $warning;

  &:not(.has-background) {
  &:after {
    position: absolute;
    top: -2px;
    left: -2px;
    display: inline-block;
    content: '';
    width: 27px;
    height: 27px;
    background: url('/assets/images/angle.svg') no-repeat  -4px -2px;
    background-size: 35px;
    z-index: 1;
  }
  &:before {
    position: absolute;
    top: -3px;
    left: -3px;
    display: inline-block;
    content: '';
    width: 27px;
    height: 27px;
    background: $dark;
    z-index: 1;
  }
  }
}
