<div class="card has-background-dark has-text-light">
  <div
    class="is-flex is-align-items-center is-justify-content-space-between px-4"
  >
    <div class="is-flex is-align-items-center is-justify-content-center">
      <span class="is-size-3 mr-3 has-text-weight-bold">1</span>
      <div class="avatar">
        <img src="./assets/images/avatar-test-02.png" alt="" />
      </div>
      <span class="is-size-5 ml-3 has-text-weight-bold">Killer Bee</span>
    </div>
    <div
      class="is-flex is-align-items-center is-justify-content-center has-text-weight-bold is-size-5"
    >
      <span class="mr-3 has-text-weight-bold">Since november 12th, 2022</span>
      <span class="bot-data">
        <span class="has-text-warning">V</span>
        <span>49</span>
        <span>/</span>
        <span class="has-text-danger">D</span>
        <span>12</span>
      </span>
    </div>
  </div>
</div>
