$black: #121212 !default;
$grey: #7F7F7F !default;
$white: #fff !default;
$light: #fff !default;

$darkness: $black !default; // Some titles
$dark: $black !default;
$light-bis: #fafafa !default; // Sheet
$light: #fff !default; // Sheet

$black-bis: #1C1C1C !default;
$black-ter: #363636 !default;
$grey-darker: #272727 !default;
$grey-dark: #4C4C4C !default;
$grey-light: #B3B3B3 !default;
$grey-lighter: #D9D9D9 !default;
$white-ter: #F0F0F0 !default;
$white-bis: $light-bis !default;

$success: #4DFCFC !default;
$link: #059669 !default;
$info: #0891B2 !default;
$primary: #16303C !default;
$danger: #DC4534 !default;
$sun: #7C2D12 !default;
$warning: #FCD34D !default;

$success-light: #CCFBF1 !default;
$link-light: #D1FAE5 !default;
$info-light: #CFFAFE !default;
$primary-light: #cae8f6 !default;
$danger-light: rgb(251, 193, 201) !default;
$sun-light: #FEF3C7 !default;
$warning-light: #FED7AA  !default;

$success-dark: #169a89 !default;
$link-dark: #0d6c4e !default;
$info-dark: #107088 !default;
$primary-dark: #071319 !default;
$danger-dark: #aa291b !default;
$sun-dark: #5b1a05 !default;
$warning-dark: #d6ae29 !default;


$border-color: $grey-lighter !default;

// Additional values

$link-alpha10: rgba($link, 0.1) !default;
$link-alpha07: rgba($link, 0.07) !default;
$link-alpha03: rgba($link, 0.03) !default;
$border-color-input: $link-alpha10 !default;
