<div class="container">
  <div class="columns is-multiline">
    <div class="column is-8 is-offset-2 pb-0 has-text-light has-text-centered">
      <h1 class="mt-4 has-text-weight-bold">Ranking</h1>
    </div>
    <div class="column is-8 is-offset-2 pb-0">
      <app-rank-item></app-rank-item>
    </div>
    <div class="column is-8 is-offset-2 pb-0">
      <app-rank-item></app-rank-item>
    </div>
    <div class="column is-8 is-offset-2 pb-0">
      <app-rank-item></app-rank-item>
    </div>
    <div class="column is-8 is-offset-2 pb-0">
      <app-rank-item></app-rank-item>
    </div>
    <div class="column is-8 is-offset-2 pb-0 has-text-light has-text-right">
      <nav
        class="pagination is-small has-text-weight-bold"
        role="navigation"
        aria-label="pagination"
      >
        <a
          class="pagination-previous is-disabled"
          title="This is the first page"
          >Previous</a
        >
        <a class="pagination-next">Next page</a>
        <ul class="pagination-list">
          <li>
            <a
              class="pagination-link is-current"
              aria-label="Page 1"
              aria-current="page"
              >1</a
            >
          </li>
          <li>
            <a class="pagination-link" aria-label="Goto page 2">2</a>
          </li>
          <li>
            <a class="pagination-link" aria-label="Goto page 3">3</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
