<!-- <audio   autoplay>

    <source src="./assets/sounds/a-hero-of-the-80s.ogg" type="audio/ogg">
  
    <source src="./assets/sounds/a-hero-of-the-80s.mp3" type="audio/mpeg">
  
  Your browser does not support the audio element.
  
  </audio> -->

<section class="hero is-large">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-align-items-center">
        <div class="column is-6 is-offset-3 has-text-centered">
          <div>
            <a href="" class="button px-8 is-warning has-shadow">Play</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container">
  <div class="columns is-multiline">
    <div class="column is-8 is-offset-2">
      <app-rank-item></app-rank-item>
    </div>
    <div class="column is-8 is-offset-2">
      <app-rank-item></app-rank-item>
    </div>
    <div class="column is-8 is-offset-2">
      <app-rank-item></app-rank-item>
    </div>
    <div class="column is-8 is-offset-2">
      <app-rank-item></app-rank-item>
    </div>
  </div>
</div>
