<section class="campaign">
  <div class="bg-parallax bg-parallax-bg"></div>
  <div class="bg-parallax bg-parallax-far"></div>
  <div class="bg-parallax bg-parallax-mid"></div>
  <div class="bg-parallax bg-parallax-close"></div>
  <div class="bg-parallax bg-blur"></div>
  <div class="campaign-wrapper">
    <div class="container has-text-light">
      <div class="columns is-multiline">
        <div class="column is-12">
          <div
            class="is-flex is-align-items-center is-justify-content-flex-start pt-4 pl-3"
          >
            <figure class="avatar is-bordered">
              <img src="./assets/images/avatar-test-01.png" alt="" />
            </figure>
            <span
              class="bot-name is-size-4 ml-5 has-text-right has-text-weight-bold"
              >MyBot</span
            >
          </div>
        </div>
        <div class="column is-12">
          <p>Created on March 12th, 2023 at 02:03 p.m.</p>
        </div>
      </div>

      <div class="columns is-multiline">
        <div class="column is-12">
          <div
            class="is-flex is-fullwidth is-align-items-center is-justify-content-fles-end fight-list is-flex-direction-column-reverse"
          >
            <div class="vertical-line"></div>

            <a
              class="dual is-fullwidth is-flex is-align-items-center is-justify-content-center"
            >
              <div class="challenger">
                <span class="is-size-5">You won</span>
              </div>
              <span class="icon-battle mx-4"></span>
              <div class="opponent has-lost">
                <div
                  class="is-flex is-align-items-center is-justify-content-flex-start"
                >
                  <figure class="avatar is-small is-bordered">
                    <img src="./assets/images/avatar-test-01.png" alt="" />
                    <i
                      class="fa-solid fa-x is-size-3 has-text-danger loose"
                    ></i>
                  </figure>
                  <span
                    class="bot-name is-size-5 ml-3 has-text-right has-text-weight-bold"
                    >Opponent bot</span
                  >
                </div>
              </div>
            </a>
            <a
              class="dual is-fullwidth is-flex is-align-items-center is-justify-content-center"
            >
              <div class="challenger">
                <span class="is-size-5">Fighting...</span>
              </div>
              <span class="icon-battle mx-4"></span>
              <div class="opponent">
                <div
                  class="is-flex is-align-items-center is-justify-content-flex-start"
                >
                  <figure class="avatar is-small is-bordered">
                    <img src="./assets/images/avatar-test-01.png" alt="" />
                  </figure>
                  <span
                    class="bot-name is-size-5 ml-3 has-text-right has-text-weight-bold"
                    >Opponent bot</span
                  >
                </div>
              </div>
            </a>
            <a
              class="dual is-fullwidth is-flex is-align-items-center is-justify-content-center"
            >
              <div class="challenger has-lost">
                <span class="is-size-5">You loose</span>
              </div>
              <span class="icon-battle mx-4"></span>
              <div class="opponent">
                <div
                  class="is-flex is-align-items-center is-justify-content-flex-start"
                >
                  <figure class="avatar is-small is-bordered">
                    <img src="./assets/images/avatar-test-01.png" alt="" />
                  </figure>
                  <span
                    class="bot-name is-size-5 ml-3 has-text-right has-text-weight-bold"
                    >Opponent bot</span
                  >
                </div>
              </div>
            </a>
            <a
              class="dual is-fullwidth is-flex is-align-items-center is-justify-content-center is-coming"
            >
              <div class="challenger"></div>
              <span class="icon-battle mx-4"></span>
              <div class="opponent">
                <div
                  class="is-flex is-align-items-center is-justify-content-flex-start"
                >
                  <figure class="avatar is-small is-bordered">
                    <img src="./assets/images/avatar-test-01.png" alt="" />
                  </figure>
                  <span
                    class="bot-name is-size-5 ml-3 has-text-right has-text-weight-bold"
                    >5th</span
                  >
                </div>
              </div>
            </a>
            <a
              class="dual is-fullwidth is-flex is-align-items-center is-justify-content-center is-coming"
            >
              <div class="challenger"></div>
              <span class="icon-battle mx-4"></span>
              <div class="opponent">
                <div
                  class="is-flex is-align-items-center is-justify-content-flex-start"
                >
                  <figure class="avatar is-small is-bordered">
                    <img src="./assets/images/avatar-test-01.png" alt="" />
                  </figure>
                  <span
                    class="bot-name is-size-5 ml-3 has-text-right has-text-weight-bold"
                    >4th</span
                  >
                </div>
              </div>
            </a>
            <a
              class="dual is-fullwidth is-flex is-align-items-center is-justify-content-center is-coming"
            >
              <div class="challenger"></div>
              <span class="icon-battle mx-4"></span>
              <div class="opponent">
                <div
                  class="is-flex is-align-items-center is-justify-content-flex-start"
                >
                  <figure class="avatar is-small is-bordered">
                    <img src="./assets/images/avatar-test-01.png" alt="" />
                  </figure>
                  <span
                    class="bot-name is-size-5 ml-3 has-text-right has-text-weight-bold"
                    >3rd</span
                  >
                </div>
              </div>
            </a>
            <a
              class="dual is-fullwidth is-flex is-align-items-center is-justify-content-center is-coming"
            >
              <div class="challenger"></div>
              <span class="icon-battle mx-4"></span>
              <div class="opponent">
                <div
                  class="is-flex is-align-items-center is-justify-content-flex-start"
                >
                  <figure class="avatar is-small is-bordered">
                    <img src="./assets/images/avatar-test-01.png" alt="" />
                  </figure>
                  <span
                    class="bot-name is-size-5 ml-3 has-text-right has-text-weight-bold"
                    >2nd</span
                  >
                </div>
              </div>
            </a>
            <a
              class="dual is-fullwidth is-flex is-align-items-center is-justify-content-center is-coming"
            >
              <div class="challenger"></div>
              <span class="icon-battle mx-4"></span>
              <div class="opponent">
                <div
                  class="is-flex is-align-items-center is-justify-content-flex-start"
                >
                  <figure class="avatar is-small is-bordered">
                    <img src="./assets/images/avatar-test-01.png" alt="" />
                  </figure>
                  <span
                    class="bot-name is-size-5 ml-3 has-text-right has-text-weight-bold"
                    >1st</span
                  >
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
